<html>

<head></head>

<body style="text-align: center;">
    <div style="text-align: center;">
        <img id="screen" draggable="false" src="/static/screen.png" width="500px" onclick="tap()" onmousemove="move()"
            onmousedown="mousedown()" onmouseup="mouseup()" touchstart="mousedown()" touchend="mouseup()" />

        <p />
        <button onclick="power()"> POWER </button>
        <button onclick="unlock()"> UNLOCK </button>

    </div>

</body>


<script>
    var screen = document.getElementById("screen")
    var H = screen.clientHeight;
    var W = screen.clientWidth;
    var downX = -1, downY = -1, downTime = null;

    setInterval(refresh, 500)

    function refresh() {
        screen.src = '/static/screen.png?t=' + new Date().getTime();
    }

    function refresh_force() {
        fetch('/refresh')
            .then(resp => {
                screen.src = '/static/screen.png?t=' + new Date().getTime();
                console.log(resp)
            })
            .catch(error => { console.error })
    }

    function power() {
        fetch('/power')
            .then(response => { })
            .catch(error => { console.error })
    }

    function tap() {
        var x = event.offsetX / W;
        var y = event.offsetY / H;
        console.log('tap', x, y)

        fetch('/tap?x=' + x + '&' + 'y=' + y)
            .then(response => { })
            .catch(error => { console.error })
    }

    function mousedown() {
        downX = event.offsetX;
        downY = event.offsetY;
        downTime = new Date().getTime()

    }

    function mouseup() {
        var x1 = downX / W, y1 = downY / H;
        var x2 = event.offsetX / W, y2 = event.offsetY / H;
        var upTime = new Date().getTime()

        if (x1 > 0 && y1 > 0 && x2 > 0 && y2 > 0 && downTime != null) {
            var dt = upTime - downTime
            console.log('swipe', x1, y1, x2, y2, dt)

            fetch('/swipe?x1=' + x1 + '&y1=' + y1 + '&x2=' + x2 + '&y2=' + y2 + '&dt=' + dt)
                .then(response => { })
                .catch(error => { console.error })
        }

        downX = -1;
        downY = -1;
        downTime = null;
    }

    function unlock() {
        fetch('/swipe?x1=0&y1=0&x2=1000&y2=1000')
            .then(response => { })
            .catch(error => { console.error })
    }

</script>

</html>